@font-face {
	font-family: 'NotoSansMono-Regular';
	src: url('fonts/NotoSansMono-Regular.ttf');
}

@font-face {
	font-family: 'NotoSansMono-Bold';
	src: url('fonts/NotoSansMono-Bold.ttf');
}

:root {
	--primary: #17b417;
}

* {
	box-sizing: border-box;
	font-family: NotoSansMono-Regular, monospace;
}

button {
	user-select: none;
}

.red   { color: #ff3838 }
.blue  { color: #0AF }
.gold  { color: #d1b20f }
.white { color: #DDD }

html, body {
	all: unset;
	background-color: #111;
	color: var(--primary);

	display: flex;
	flex-flow: column nowrap;
	font-size: 14px;
	height: 100dvh;
	overflow: hidden;

	border-top: 3px solid;
	border-image: linear-gradient(90deg, #388, #a08, #d81) 1;
}

/***********************************/

section#console-output {
	flex-grow: 1;
	padding: 0 30px;
	overflow-x: hidden;
	overflow-y: auto;
}

section#console-output p {
	text-wrap: balance;
}

section#console-output span {
	white-space: pre-wrap;
}

section#console-output a {
	text-decoration: underline;
	cursor: pointer;
}

section#console-output b {
	font-family: NotoSansMono-Bold, monospace;
	font-weight: bold;
}

section#console-output i {
	font-style: italic;
}

section#console-output hr {
	background: linear-gradient(to right, var(--primary) 60%, transparent 60%);
	background-size: 14px;
	background-repeat: repeat-x;
	border: none;
	height: 2px;
}

header {
	margin-top: 20dvh;
	color: #DDD;
	font-family: consolas;
	text-wrap: wrap;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

header #title-container {
	height: 150px;
	max-width: 300px;
}

header h1 {
	font-size: 30px;
	margin: 0;
}

header p {
	margin: 0;
}

header #logo {
	width: 200px;
	aspect-ratio: 1/1;
}

/*
title-container + gap + logo + margins (console-output)
300px + 50px + 200px + 30*2
*/
@media (max-width: 500px) {
	header {
		align-items: start;
	}

	header #title-container {
		width: 200px;
		max-width: 90%;
	}

	header #logo {
		max-width: 90%;
	}
}

@media (max-width: 360px) {
	header {
		flex-flow: column nowrap;
		margin-top: 12dvh;
		gap: 20px;
	}

	header #title-container {
		align-self: end;
	}
}

/***********************************/

#prompt {
	padding: 5px 30px;
}

#menu {
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
	font-size: 0;
}

#menu button {
	all: unset;
	cursor: pointer;
	border: 1px solid var(--primary);
	margin: 5px;
	padding: 2px 5px;
	background-color: #111;
	transition: background-color .2s, color .2s;
	border-radius: 5px;
	font-size: 12px;
}

#menu button:hover {
	background-color: var(--primary);
	color: #111;
}

/***********************************/

@keyframes btn-start-in {
	from { transform: translateY(10px); opacity: 0 }
	to   { transform: translateY(0px);  opacity: 1 }
}

@keyframes start-bounces-in {
	from { opacity: 0 }
	to { opacity: 1 }
}

#start {
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	max-width: calc(100vw - 100px);
	margin: 0 auto;
	
	cursor: pointer;
	line-height: 20px;
	font-size: 18px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	color: var(--primary);
	animation: .5s btn-start-in ease-in-out;
}

#start.booting {
	cursor: default;
}

@keyframes btn-start-bounces-left {
	0% { transform: translateX(0) rotate(-45deg); }
	30% { transform: translateX(-10px) rotate(-45deg); }
	60% { transform: translateX(-2px) rotate(-45deg); }
	to { transform: translateX(0) rotate(-45deg); }
}

@keyframes btn-start-bounces-right {
	0% { transform: translateX(0) rotate(135deg); }
	30% { transform: translateX(10px) rotate(135deg); }
	60% { transform: translateX(2px) rotate(135deg); }
	to { transform: translateX(0) rotate(135deg); }
}


#start:not(.booting)::before,
#start:not(.booting)::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	top: 7px; left: -20px;
	transform: rotate(-45deg);
	border-right: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);
	animation: .5s start-bounces-in .7s ease-in-out both, btn-start-bounces-left .7s ease-in-out infinite;
}

#start:not(.booting)::after {
	left: auto;
	right: -20px;
	transform: rotate(135deg);
	border-right: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);
	animation: .5s start-bounces-in .7s ease-in-out both, btn-start-bounces-right .7s ease-in-out infinite;
}

/***********************************/


section#console-input {
	z-index: 8;
	flex-grow: 0;
	flex-shrink: 0;

	position: relative;
	height: 50px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;

	padding: 0 10px;
	border: 10px solid #111;
	border-radius: 15px;
	background-color: #222;
	cursor: text;

	transition: transform .4s;
}


section#console-input label,
section#console-input #c-input,
section#console-input #autocomplete {
	display: inline-block;
	vertical-align: middle;

	outline: none;
	font-size: 14px;
	line-height: 30px;
	min-width: 5px;
}

section#console-input label {
	margin-right: 5px;
}

section#console-input #c-input {
	white-space: pre;
}

section#console-input #autocomplete {
	line-height: 30px;
	color: #898989;
	font-size: 14px;
	cursor: pointer;
}

section#console-input #autocomplete:not(:empty)::after {
	content: 'tab';
	border: 1px solid #777;
	color: #777;
	border-radius: 5px;
	line-height: normal;
	font-size: 10px;
	margin-left: 5px;
	padding: 1px 4px 1px 3px;
	font-family: consolas;
}

#start ~ section#console-input {
	transform: translateY(75px);
}

/***********************************/

footer {
	z-index: 9;
	flex-grow: 0;
	flex-shrink: 0;

	display: flex;
	flex-flow: row wrap;
	justify-content: end;
	width: 100%;
	padding: 0 10px;
	background-color: #0A0A0A;

	line-height: 25px;
}

footer span {
	margin: 0 5px;
	flex-grow: 0;
	white-space: nowrap;
}

footer span.space {
	flex-grow: 1;
}

footer button {
	all: unset;
	cursor: pointer;
	text-decoration: underline;
}